{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Things on a Hex Grid</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <link href="{% static 'hex.css' %}" rel="stylesheet" crossorigin="anonymous">
  <!--link rel="icon" href="favicon.png"-->
  <meta name="theme-color" content="#00a200">
</head>

<body>
  <div class="container">
    <h1>Things on a Hex Grid</h1>

    <div class="hex-grid">
      <div class="hexagon center-text hexagon-nw color-fill {% if neighbors.TEN_OCLOCK.cell %}grape{% else %}yellow-beige{% endif %}">
        <p>
          <a href="{% url 'cell' neighbors.TEN_OCLOCK.coords.0 neighbors.TEN_OCLOCK.coords.1 neighbors.TEN_OCLOCK.coords.2 %}">Go ↖️</a><br>
          {{neighbors.TEN_OCLOCK.coords}}
        </p>
      </div>
      <div class="hexagon center-text hexagon-no color-fill {% if neighbors.TWELVE_OCLOCK.cell %}grape{% else %}yellow-beige{% endif %}">
        <p>
          <a href="{% url 'cell' neighbors.TWELVE_OCLOCK.coords.0 neighbors.TWELVE_OCLOCK.coords.1 neighbors.TWELVE_OCLOCK.coords.2 %}">Go ⬆️</a><br>
          {{neighbors.TWELVE_OCLOCK.coords}}
        </p>
      </div>
      <div class="hexagon center-text hexagon-ne color-fill {% if neighbors.TWO_OCLOCK.cell %}grape{% else %}yellow-beige{% endif %}">
        <p>
          <a href="{% url 'cell' neighbors.TWO_OCLOCK.coords.0 neighbors.TWO_OCLOCK.coords.1 neighbors.TWO_OCLOCK.coords.2 %}">Go ↗️</a><br>
          {{neighbors.TWO_OCLOCK.coords}}
        </p>
      </div>
      <div class="hexagon center-text hexagon-mid color-fill cadet-blue">
        <div>
          <p>You are at {{ cell }}.</p>
          {% if cell.thing_set.count > 0 %}
          The things here are:
          <ul>
            {% for thing in cell.thing_set.all %}
            <li>{{ thing }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
      <div class="hexagon center-text hexagon-sw color-fill {% if neighbors.EIGHT_OCLOCK.cell %}grape{% else %}yellow-beige{% endif %}">
        <p>
          <a href="{% url 'cell' neighbors.EIGHT_OCLOCK.coords.0 neighbors.EIGHT_OCLOCK.coords.1 neighbors.EIGHT_OCLOCK.coords.2 %}">Go ↙️</a><br>
          {{neighbors.EIGHT_OCLOCK.coords}}
        </p>
      </div>
      <div class="hexagon center-text hexagon-so color-fill {% if neighbors.SIX_OCLOCK.cell %}grape{% else %}yellow-beige{% endif %}">
        <p>
          <a href="{% url 'cell' neighbors.SIX_OCLOCK.coords.0 neighbors.SIX_OCLOCK.coords.1 neighbors.SIX_OCLOCK.coords.2 %}">Go ⬇️</a><br>
          {{neighbors.SIX_OCLOCK.coords}}
        </p>
      </div>
      <div class="hexagon center-text hexagon-se color-fill {% if neighbors.FOUR_OCLOCK.cell %}grape{% else %}yellow-beige{% endif %}">
        <p>
          <a href="{% url 'cell' neighbors.FOUR_OCLOCK.coords.0 neighbors.FOUR_OCLOCK.coords.1 neighbors.FOUR_OCLOCK.coords.2 %}">Go ↘️</a><br>
          {{neighbors.FOUR_OCLOCK.coords}}
        </p>
      </div>
    </div>

    {% if not cell.is_origin %}
    <p><a href="{% url 'home' %}">Return to center</a></p>
    {% endif %}
    
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3
/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>

</html>